.toggle-button-001 {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: #dddddd;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button-001:has(:checked) {
    background-color: #1d22c9;
}

.toggle-button-001::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    content: '';
    transition: left .4s;
}

.toggle-button-001:has(:checked)::after {
    left: 25px;
}

.toggle-button-001 input {
    display: none;
}

.target.is-hidden {
    display: none;
}

body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}